<div class="home-banner">
    <div class="home-banner-container">
        <div class="banner-item">
            <a target="_blank" href="https://www.foody.vn/da-nang/bo-le-let-restaurant" title="B&#242; L&#234; Lết Restaurant" onclick="ga('ads.send', 'event', 'Banner trang chu', 'Click', 'Bo Le Let Restaurant');">
                <img src="https://images.foody.vn/biz_banner/foody-upload-api-food-biz-190412160915.jpg" />
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="ga('ads.send', 'event', 'Banner trang chu', 'Impression', 'Bo Le Let Restaurant');" style="width:0;height:0;" />
            </a>
            <div class="banner-caption">
                <div class="banner-caption-name">
                    B&#242; L&#234; Lết Restaurant
                </div>
                <div class="banner-caption-desc">
                    <p>Giảm ngay 10%</p>

                </div>
            </div>

        </div>
        <div class="banner-item">
            <a target="_blank" href="http://www.foody.vn/ung-dung-mobile" title="Foody App tr&#234;n Mobile" onclick="ga('ads.send', 'event', 'Banner trang chu', 'Click', 'Foody App tren Mobile');">
                <img src="https://images.foody.vn/biz_banner/foody-675x355_foodyappbanner-636530746968443602.jpg" />
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="ga('ads.send', 'event', 'Banner trang chu', 'Impression', 'Foody App tren Mobile');" style="width:0;height:0;" />
            </a>
            <div class="banner-caption">
                <div class="banner-caption-name">
                    Foody App tr&#234;n Mobile
                </div>
                <div class="banner-caption-desc">
                    <p>Kh&aacute;m ph&aacute;, đặt b&agrave;n, giao tận nơi</p>

                </div>
            </div>

        </div>
        <div class="banner-item">
            <a target="_blank" href="https://www.foody.vn/da-nang/the-golden-dragon-restaurant-grand-mercure-danang" title="The Golden Dragon Restaurant - Grand Mercure Danang" onclick="ga('ads.send', 'event', 'Banner trang chu', 'Click', 'The Golden Dragon Restaurant - Grand Mercure Danang');">
                <img src="https://images.foody.vn/biz_banner/foody-upload-api-food-biz-190423113711.jpg" />
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="ga('ads.send', 'event', 'Banner trang chu', 'Impression', 'The Golden Dragon Restaurant - Grand Mercure Danang');" style="width:0;height:0;" />
            </a>
            <div class="banner-caption">
                <div class="banner-caption-name">
                    The Golden Dragon Restaurant - Grand Mercure Danang
                </div>
                <div class="banner-caption-desc">

                </div>
            </div>

        </div>
        <div class="banner-item">
            <a target="_blank" href="https://www.foody.vn/da-nang/quan-eo-bien-189-nguyen-phan-vinh" title="Eo Biển " onclick="ga('ads.send', 'event', 'Banner trang chu', 'Click', 'Eo Bien ');">
                <img src="https://images.foody.vn/biz_banner/foody-untitled-1675x355-636866801296305264.jpg" />
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="ga('ads.send', 'event', 'Banner trang chu', 'Impression', 'Eo Bien ');" style="width:0;height:0;" />
            </a>
            <div class="banner-caption">
                <div class="banner-caption-name">
                    Eo Biển
                </div>
                <div class="banner-caption-desc">
                    <p>Hải Sản Tươi Sống</p>

                </div>
            </div>

        </div>
        <div class="banner-item">
            <a target="_blank" href="https://www.foody.vn/da-nang/seomin-nha-hang-han-quoc" title="Seomin - Nh&#224; H&#224;ng H&#224;n Quốc" onclick="ga('ads.send', 'event', 'Banner trang chu', 'Click', 'Seomin - Nha Hang Han Quoc');">
                <img src="https://images.foody.vn/biz_banner/foody-upload-api-food-biz-190408081416.jpg" />
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="ga('ads.send', 'event', 'Banner trang chu', 'Impression', 'Seomin - Nha Hang Han Quoc');" style="width:0;height:0;" />
            </a>
            <div class="banner-caption">
                <div class="banner-caption-name">
                    Seomin - Nh&#224; H&#224;ng H&#224;n Quốc
                </div>
                <div class="banner-caption-desc">

                </div>
            </div>

        </div>
    </div>
    <div class="home-banner-loading"></div>
    <script type="text/javascript">
        $(document).ready(function ()
        {
            $('.home-banner-container').slick({
                centerMode: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                variableWidth: true,
                swipeToSlide: true,
                autoplay: true,
                autoplaySpeed: 5000,
                //arrows: false,
                responsive: [
                    {
                        breakpoint: 700,
                        settings: {
                            draggable: true,
                            variableWidth: false,
                            centerPadding: '0px',
                        }
                    }
                ]
            });
            var m = ($(window).width() - 685) / 2 - 50;
            $('.slick-prev').css('left', m + 'px');
            $('.slick-next').css('right', m + 'px');
            $('.home-banner-container').css('display', 'block');
        });
    </script>
</div>
