<div class="container-fluid" style="padding:0 ;height: 550px ">
    <div id="ad" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#ad" data-slide-to="0" class="active"></li>
            <li data-target="#ad" data-slide-to="1"></li>
            <li data-target="#ad" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="img-responsive" src="https://file.hstatic.net/1000075078/file/bg_59e90a83f96b4d73896753c13f89f8e9_master.jpg" alt="New york" style="width:100%;height: 600px;">
            </div>
            <div class="item ">
                <img class="img-responsive" src="https://blog.printsome.com/wp-content/uploads/coca-cola-marketing.jpg" alt="Los Angeles" style="width:100%;height: 600px;">
            </div>

            <div class="item">
                <img class="img-responsive" src="https://images.foody.vn/biz_banner/foody-upload-api-food-biz-190401085846.jpg" alt="Chicago" style="width:100%;height: 600px;">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#ad" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#ad" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

