    <!-- Blog -->
    <div class="container-fluid blog_home" style="margin:150px 0 150px 0 ;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <h2 class="blog_home_title line_after_heading section_heading">Blog</h2>
                    <div class="viewmore_blog_home"><a class="animate_btn" href="/blogs/news" title="XEM THÊM">XEM THÊM</a></div>
                </div>
                <div class="clearfix"></div>
                <div class="blog_lists flex_wrap display_flex">
                    <div class="top_blog_home blog_item flex_direction_column display_flex">
                        <a class="article_item_image" href="/blogs/news/hello">
                            <div class="article_img" style="background-image: url(//file.hstatic.net/1000075078/article/banner_website_2000x1000_ef241ed3d4b04bb78d621a4b074bcf9b_1024x1024.png)"></div>
                        </a>
                        <div class="article_item_info">
                            <span class="article_tags">Tin tức</span>
                            <h3><a href="/blogs/news/hello">Ưu đãi cho thành viên mới - Nhận ngay 100K khi nhập mã HELLO</a></h3>
                            <div class="meta"><time>-23 ngày trước</time></div>
                            <div class="short_des">Ưu đãi 100K với mã HELLO chính là món quà dành riêng cho các thành viên mới của The Coffee House trong tháng 5 này!Từ 25/04/2019 đến hết 25/05/2019, chỉ...</div>
                            <div class="article_item_action">
                                <a class="animate_btn" href="/blogs/news/hello">Xem thêm</a>
                            </div>
                        </div>
                    </div>
                    <div class="blog_item flex_direction_column display_flex img_large">
                        <a class="article_item_image" href="#" title="Cold Brew nào phải Cà phê đá!">
                            <div class="article_img" style="background-image: url(https://file.hstatic.net/1000075078/article/800x400_colbrewcamsa_cac01ad1d7454eb5b0f4a54c75d64e90_e08792b208c34652aeaf1329cb787ed3_grande.jpg)">
                            </div>
                        </a>
                        <div class="article_item_info display_flex flex_direction_column justify-content-spbetween">
                            <span class="article_tags">Tin tức</span>
                            <h3><a href="/blogs/news/cold-brew-nao-phai-ca-phe-da" title="Cold Brew nào phải Cà phê đá!">Cold Brew nào phải Cà phê đá!</a></h3>
                            <p>Cà phê pha lạnh và Cà phê đá lạnh nghe thì "xêm xêm" nhưng không có đây là 2 cách pha chế khác nhau nhé! Nếu khái niệm "Cà phê pha...</p>
                            <div class="article_item_action">
                                <a class="animate_btn" href="/blogs/news/cold-brew-nao-phai-ca-phe-da">Xem thêm</a>
                            </div>
                        </div></div>
                    <div class="blog_item flex_direction_column display_flex ">
                        <a class="article_item_image" href="#" title="THE COFFEE HOUSE THAM GIA DỰ ÁN XÃ HỘI “BÀN TAY ROBOT” UPLIFT">
                            <div class="article_img" style="background-image: url(https://file.hstatic.net/1000075078/article/vulcan_4_6ef9e50bef664c0382ab05de804cadad_grande.jpg)">
                            </div>
                        </a>
                        <div class="article_item_info display_flex flex_direction_column justify-content-spbetween">
                            <span class="article_tags">Tin tức</span>
                            <h3><a href="#" title="THE COFFEE HOUSE THAM GIA DỰ ÁN XÃ HỘI “BÀN TAY ROBOT” UPLIFT">THE COFFEE HOUSE THAM GIA DỰ ÁN XÃ HỘI “BÀN TAY ROBOT” UPLIFT</a></h3>
                            <p>THE COFFEE HOUSE THAM GIA DỰ ÁN XÃ HỘI “BÀN TAY ROBOT” UPLIFT,LAN TOẢ TINH THẦN TÔN TRỌNG SỰ KHÁC BIỆTCuối tháng 3 vừa qua, The Coffee House đã chính...</p>
                            <div class="article_item_action">
                                <a class="animate_btn" href="#">Xem thêm</a>
                            </div>
                        </div></div>
                    <div class="blog_item flex_direction_column display_flex "><a class="article_item_image" href="/blogs/news/cold-brew-cam-sa-doi-moi-nhung-van-tran-trong-huong-vi-nguyen-ban" title="Cold Brew Cam Sả: Đổi mới nhưng vẫn trân trọng hương vị nguyên bản"><div class="article_img" style="background-image: url(//file.hstatic.net/1000075078/article/800x400_colbrewcamsa_cac01ad1d7454eb5b0f4a54c75d64e90_e08792b208c34652aeaf1329cb787ed3_grande.jpg)"></div></a>
                        <div class="article_item_info display_flex flex_direction_column justify-content-spbetween">
                            <span class="article_tags">Tin tức</span>
                            <h3>
                                <a href="/blogs/news/cold-brew-cam-sa-doi-moi-nhung-van-tran-trong-huong-vi-nguyen-ban" title="Cold Brew Cam Sả: Đổi mới nhưng vẫn trân trọng hương vị nguyên bản">
                                    Cold Brew Cam Sả: Đổi mới nhưng vẫn trân trọng hương vị nguyên bản
                                </a>
                            </h3>
                            <p>Đổi mới nhưng vẫn trân trọng hương vị nguyên bản, Cold Brew Cam Sả tại The Coffee House chính là một ví dụ. Bạn đã thử chưa?Miếng cam vàng và...</p>
                            <div class="article_item_action">
                                <a class="animate_btn" href="/blogs/news/cold-brew-cam-sa-doi-moi-nhung-van-tran-trong-huong-vi-nguyen-ban">Xem thêm</a>
                            </div>
                        </div>
                    </div>
                    <div class="blog_item flex_direction_column display_flex"><a class="article_item_image" href="/blogs/news/coldbrew" title="LY CÀ PHÊ COLD BREW TẠI THE COFFEE HOUSE">
                        <div class="article_img" style="background-image: url(https://file.hstatic.net/1000075078/article/cold_brew_info_800x400_1491abc6c72f45708c81b99f6df5e713_grande.jpg)">
                        </div>
                    </a>
                        <div class="article_item_info display_flex flex_direction_column justify-content-spbetween">
                            <span class="article_tags">Tin tức</span>
                            <h3>
                                <a href="/blogs/news/coldbrew" title="LY CÀ PHÊ COLD BREW TẠI THE COFFEE HOUSE">LY CÀ PHÊ COLD BREW TẠI THE COFFEE HOUSE</a>
                            </h3>
                            <p>Tháng 4 này, The Coffee House mang đến cho bạn không chỉ 1, mà là 3 trải nghiệm cà phê trong ly Cold Brew The Coffee House.Nếu bạn đã quen...</p>
                            <div class="article_item_action">
                                <a class="animate_btn" href="/blogs/news/coldbrew">Xem thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog -->
