<h3 class="header">TỪ KHÓA HOT</h3>
<div class="container-fluid text-center">
       <div id="keyword" class="carousel slide">
           <!-- Wrapper for slides -->
           <div class="carousel-inner" role="listbox">
               <div class="keys item active">
                   <div class="container">
                       <div class="row">
                           <div class="keyword col-md-2"><h3>Cà phê đen</h3></div>
                           <div class="keyword col-md-2"><h3>Macchiato</h3></div>
                           <div class="keyword col-md-2"><h3>Capuchino</h3></div>
                           <div class="keyword col-md-2"><h3>Sado</h3></div>
                       </div>
                   </div>
               </div>

               <div class="keys item">
                   <div class="container">
                       <div class="row">
                           <div class="keyword col-md-2"><h3>Trà gừng</h3></div>
                           <div class="keyword col-md-2"><h3>Bạc xỉu</h3></div>
                           <div class="keyword col-md-2"><h3>Nước ngọt</h3></div>
                           <div class="keyword col-md-2"><h3>Sinh tố</h3></div>
                       </div>
                   </div>
               </div>
           </div>

           <!-- Left and right controls -->
           <a class="left carousel-control" href="#keyword" role="button" data-slide="prev">
               <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
           </a>
           <a class="right carousel-control" href="#keyword" role="button" data-slide="next">
               <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
           </a>
       </div>

   </div>
