<div class="container views col-12">
    <div class="rơw">
        <h2 class="text-center">Góc quán quen</h2>
        <br>
        <div class="col-md-5">
           <div class="thumbnail">
               <div id="check-in" class="carousel slide" data-ride="carousel">
                   <!-- Indicators -->
                   <ol class="carousel-indicators">
                       <li data-target="#check-in" data-slide-to="0" class="active"></li>
                       <li data-target="#check-in" data-slide-to="1"></li>
                       <li data-target="#check-in" data-slide-to="2"></li>
                   </ol>

                   <!-- Wrapper for slides -->
                   <div class="carousel-inner">
                       <div class="item active">
                           <img class="img-responsive " src="https://kenh14cdn.com/thumb_w/660/2018/4/6/screen-shot-2018-04-06-at-223745-1523029132972739128110.png" alt="Los Angeles" style="width:100%;height: 380px;">
                       </div>

                       <div class="item">
                           <img class="img-responsive" src="http://www.elleman.vn/wp-content/uploads/2017/12/03/dia-diem-ca-phe-cup-c-coffee-house-elle-man-3.jpg" alt="Chicago"  style="width:100%;height: 380px;">
                       </div>

                       <div class="item">
                           <img class="img-responsive" src="http://cdn01.diadiemanuong.com/ddau/640x/den-da-lat-ngoai-an-ngap-mat-nho-checkin-9-quan-cafe-noi-tieng-dep-xuat-than-b8f63b67636475711406906859.jpg" style="width:100%;height: 380px;">
                       </div>
                   </div>

               </div>
           </div>
        </div>
        <div class="controls col-md-3">
            <ul class="nav">
                <li data-target="#check-in" data-slide-to="0" class="active"><a href="#"><small>Slide One</small></a></li>
                <li data-target="#check-in" data-slide-to="1"><a href="#"><small>Slide Two</small></a></li>
                <li data-target="#check-in" data-slide-to="2"><a href="#"><small>Slide Three</small></a></li>
                <li data-target="#check-in" data-slide-to="3"><a href="#"><small>Slide Four</small></a></li>
                <li data-target="#check-in" data-slide-to="4"><a href="#"><small>Slide Five</small></a></li>
                <li data-target="#check-in" data-slide-to="5"><a href="#"><small>Slide Six</small></a></li>
                <li data-target="#check-in" data-slide-to="6"><a href="#"><small>Slide Seven</small></a></li>
                <li data-target="#check-in" data-slide-to="7"><a href="#"><small>Slide Eight</small></a></li>
                <li data-target="#check-in" data-slide-to="8"><a href="#"><small>Slide Nine</small></a></li>
                <li data-target="#check-in" data-slide-to="9"><a href="#"><small>Slide Ten</small></a></li>

            </ul>
        </div>
        <div class=" col-md-4">
            <form class="form-group">
                <div class="status-line">
                    <h3>Status</h3>
                    <p>...</p>
                </div>
                <div class="interactive">
                    <div class="emotion">
                        <i class="fas fa-grin-squint-tears"></i>
                        <i class="fas fa-grin-squint"></i>
                        <i class="fas fa-surprise"></i>
                        <i class="fas fa-sad-tear"></i>
                    </div>
                    <div class="input-group">
                        <label for="comment">Comment:</label>
                        <textarea class="form-control" rows="5" id="comment"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<hr>