<div id="discover" class="container-fluid">
    <div class="text-center">
        <div class="center-block" style="width:200px;">
            <h3 class="text-center line_after_heading_contact section_heading_contact">KHÁM PHÁ</h3>
        </div>
        <h4>Chúng tôi cung cấp dịch vụ gì</h4>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>GetFood</h1>
                </div>
                <div class="panel-body">
                    <p><strong>Bạn đang đói bụng ?</strong></p>
                    <p>Khám phá muôn vàn đồ ăn</p>
                    <p>Đừng ngại,món gì cũng có!</p>
                    <p>Trải nghiệm buffet chỉ với 299k</p>
                </div>
                <div class="panel-footer">
                    <h3>Ăn nào</h3>
                    <button class="btn btn-lg">Đi</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>GoMarket</h1>
                </div>
                <div class="panel-body">
                    <p><strong>Đi chợ thật mệt ?</strong></p>
                    <p>Hãy để chúng tôi giúp bạn đi chợ</p>
                    <p>Bảo gì mua nấy</p>
                    <p>Đảm bảo chất lượng nguồn gốc an toàn</p>
                </div>
                <div class="panel-footer">
                    <h3>Mua gì nào ? </h3>
                    <button class="btn btn-lg">Đi</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>GoShipping</h1>
                </div>
                <div class="panel-body">
                    <p><strong>chuyển hàng xa thật ngại </strong>vừa <strong>lâu</strong> vừa <strong>mắc tiền</strong></p>
                    <p>Sao bạn không thử đến GoShipping</p>
                    <p>Giao hàng toàn quốc</p>
                    <p><strong>chi phí rẻ</strong></p>
                </div>
                <div class="panel-footer">
                    <h3>Bạn ghét chờ đợi ?</h3>
                    <button class="btn btn-lg">Đi</button>
                </div>
            </div>
        </div>
    </div>
</div>