<aside class="sidebar_menu" style="position: sticky;">
    <ul>
        <li>
            <a class="menu_scroll_link" href="#mon-noi-bat">MÓN NỔI BẬT</a>
        </li>
        <li>
            <a class="menu_scroll_link" href="#ca-phe">CÀ PHÊ</a>
        </li>
        <li>
            <a class="menu_scroll_link" href="#tra-macchiato">TRÀ &amp; MACCHIATO</a>
        </li>
        <li>
            <a class="menu_scroll_link" href="#thuc-uong-da-xay">THỨC UỐNG ĐÁ XAY</a>
        </li>
        <li>
            <a class="menu_scroll_link" href="#thuc-uong-trai-cay">THỨC UỐNG TRÁI CÂY</a>
        </li>
    </ul>
</aside>
