<div class="container-fluid footer">
    <div class="cave row">
        <div class="col-md-4">
            <ol>
                <li><span class="infor text-left">Liên hệ</span></li>
                <li><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;TP Đà Nẵng- Q.Ngũ Hành Sơn- p.Hòa quý- Đường Nam Kì Khởi Nghĩa- Kí Túc Xá.</li>
                <li><i class="fas fa-phone"></i>&nbsp;&nbsp;0896203728</li>
                <li><i class="far fa-envelope"></i>&nbsp;&nbsp;nvsang.18it2@gmail.com OR sang01672568132@gmail.com</li>
            </ol>
        </div>
        <div class="col-md-3">
            <ol>
                <li><span class="infor text-left">Mạng Xã Hội</span></li>
                <li><i class="fab fa-facebook-square"></i>&nbsp;&nbsp;Facebook</li>
                <li><i class="fab fa-instagram"></i>&nbsp;&nbsp;Instagram</li>
                <li><i class="fab fa-youtube"></i>&nbsp;&nbsp;Youtube</li>
            </ol>
        </div>
        <div class="col-md-3">
            <ol>
                <li><span class="infor text-left">Danh Mục</span></li>
                <li><a href="WebMenu.html">
                    <i class="fas fa-chevron-circle-right"></i>&nbsp;&nbsp;Danh sách món
                </a></li>
                <li><i class="fas fa-chevron-circle-right"></i>&nbsp;&nbsp;Đặt bàn</li>
                <li><i class="fas fa-chevron-circle-right"></i>&nbsp;&nbsp;Tin tức</li>
                <li><a href="WebGThieu.html">
                    <i class="fas fa-chevron-circle-right"></i>&nbsp;&nbsp;Câu chuyện thương hiệu
                </a></li>
            </ol>
        </div>
        <div class="col-md-1">
            <span class="infor text-left">APP</span>
        </div>
    </div>

</div>
