<div id="services" class="container-fluid text-center">
    <div class="center-block" style="width:200px;">
        <h3 class="text-center line_after_heading_contact section_heading_contact">DỊCH VỤ</h3>
    </div>
    <h4>NHỮNG DỊCH VỤ CỦA CHÚNG TÔI</h4>
    <br><br>

    <div class="row slideanim slide">
        <div class="col-sm-4">
            <span class="fas fa-shipping-fast logo-small"></span>
            <h4>Tictac post office</h4>
            <p>Ship hàng miễn phí trong phạm vi 10 Km trong 15 phút..</p>
        </div>
        <div class="col-sm-4">
            <span class="fas fa-phone-volume logo-small"></span>
            <h4>TƯ VẤN</h4>
            <p>Giải đáp các câu hỏi của khách hàng</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-lock logo-small"></span>
            <h4>ĐÁNH GIÁ</h4>
            <p>Khách hàng được đóng góp ý kiến của mình về trang và sản phẩm</p>
        </div>
    </div>
    <br><br>
</div>