{{>header}}
<div class="container-fluid container1">
    <div class="container">
        <div class="card bg-light">
            <div class="card-header text-center">
                <div class="sidebar-title">
                    <h2><strong>THÓI QUEN CAFE</strong></h2>
                </div>
            </div>
            <div class="card-body text-center ">
                <div class="col-md-10 col-md-offset-1  ">
                    <h4>
                        “Café thói quen”- uống café là một thói quen của mọi người, nó hầu như là hoạt động đầu tiên của nhiều người khi bắt đầu một ngày mới
                    </h4><br>
                    <h5>
                        Tại ”Tíc Tắc”, chúng tôi luôn luôn  trân trọng những câu chuyện và đề cao nhu cầu của khách hàng.
                        Chúng tôi mong muốn Tíc Tắc sẽ là nơi mà  mọi người có thể tìm được mặt hàng mà họ mong muốn,
                        là nơi họ có thể tận hưởng được  mùi hương và sự đậm đà của café.
                    </h5><br>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="card-header text-center" >
            <div class="card-header text-center">
                <div class="sidebar-title">
                    <h2><span>GIÁ TRỊ LÀM NÊN TÍC TẮC</span></h2>
                </div>
            </div>
        </div>
        <div class="card bg-light">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <img src="https://file.hstatic.net/1000075078/file/3e0a8783_master.jpg" width="100%">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <h3> Chất lượng đồ uống</h3>
                    <span>Chúng tôi đem đến cho khách hàng những sản phẩm tốt , an toàn thực phẩm và giá cả hợp lí</span>
                </div>
            </div><br>
            <div class="card bg-light">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <h3><span>Niềm tin  và vui vẻ</span></h3>
                        <span>
                       Chúng tôi lun đặt sự tin tưởng và nhu cầu của khách hàng lên hàng đầu. Luôn luôn câph nhật tin tức, ý kiến và nhu cầu của khách hang.
                   Chúng mong muốn đem những gì tốt nhất đến khách hang.Khi mua hang ở chúng tôi khách hang sẽ cảm thấy hài long về sản phẩm và giá cả</span>
                    </div>
                    <div class="col-sm-6 col-sm-6">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="thumbnail">
                                    <img src="http://file.hstatic.net/1000075078/file/img_2314.jpg" width="100%">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="thumbnail">
                                    <img src="http://file.hstatic.net/1000075078/file/img_3017.jpg" width="100%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br><br>

<div class="container-fluid">
    <div class="container">
        <div class="card-header text-center">
            <div class="sidebar-title">
                <h2><span>NHỮNG NGỪƠI TẠO NÊN SỰ ĐẶC BIỆT</span></h2>
            </div>
        </div>

    </div>
</div>
{{>footer}}